.navbar {
  background-color: #3776ad;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}